/* General Styles */
body {
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: #2c3e50;
    font-size: 40px;
    margin-bottom: 30px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

/* Products Grid */
.products-grid {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

/* Product Card */
.product-card {
  
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}

/* Product Image */
.product-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 220px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #e0e0e0;
}

.product-image img {
    max-width: 100%;
    max-height: 100%;
    width: 220px;
    height: 300px;
    object-fit: contain;
}

/* Product Info */
.product-info {
    padding: 20px;
    background: #fafafa;}

.product-title {
    font-size: 20px;
    margin: 0 0 12px;
    color: #34495e;
    font-weight: 600;
}

.product-price {
    font-size: 17.6px;
   color: #e74c3c;
    margin: 0 0 12px;
    font-weight: 700;
}

.original-price {
    text-decoration: line-through;
    color:#95a5a6;
    margin-left: 8px;
}

.discount {
    color:#27ae60;
    margin-left: 8px;
}

/* Product Description */
.product-description {
    font-size: 13.6px;
    
    color:#7f8c8d;
    margin: 0 0 12px;
    line-height: 1.5;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

/* Product Rating */
.product-rating {
    font-size: 14.4px;
    /* 0.9rem */
    color:#95a5a6;
    display: flex;
    align-items: center;
}

.product-rating::before {
    content: '⭐';
    margin-right: 5px;
    color:#f1c40f;
}

/* Add to Cart Button */
.add-to-cart {
    display: inline-block;
  background:#f9f9f9 ;
    color: #f1c40f;;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 15.2px;
 
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 15px;
    width: 100%;
}

.add-to-cart:hover {
  background: #f1c40f;
  color:#f9f9f9 ;

}